@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    font-weight: 20;
    letter-spacing: 2px;
}
body{
    background: #80039c;
background: radial-gradient(circle, rgba(128,3,156,1) 0%, rgba(24,2,45,1) 73%);
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  
 .pfp{
    border-color: white;
    
    border-style:solid ;
    border-radius: 120px;
    width: 100%;
    margin-top: 175px;
    max-width: 135px;
  }
  
.pfp img{
    width: 100%;
    vertical-align: middle;
    border-radius: 50%;
  }


  
h1{
    color: white;
    margin-top: 50px;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}

a{
   
    padding: 15px;
    width: 175px;
    border-style:solid ;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 55px;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}
a:hover{
    transition: 0.5s;
    text-decoration: underline;
    color: #80039c;
    border-color: white;
    background-color: white;
}
